
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Prototypes for usability tests
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <p>
      This page contains a link to our current prototypes.
      </p>

      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="job-group-1.html">Job Group prototype 1</a>
        </li>

        <li>
          <a href="job-group-2.html">Job Group 2 prototype (Will's code)</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
