
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Prototypes for usability tests
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <p>
      This page contains a link to our current prototypes.
      </p>

      <h2 class="govuk-heading-m">Shared with team</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="job-groups.html">Job Group code prototype (shared 1st March))</a>
        </li>

        <li>
          <a href="job-groups-update.html">Job Group code prototype (KB amends, due to share 2nd March))</a>
        </li>

        </ul>
        <h2 class="govuk-heading-m">Rough draft</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="job-group-1.html">Rough Job Group prototype 1 (KB's code)</a>
        </li>

        <li>
          <a href="job-group-2.html">Rough Job Group prototype 2 (Will's code)</a>
        </li>
     
        <li>
          <a href="job-groups.html">Rough Job Group prototype 3 (Will's code 2)</a>
        </li>
     
      <li>
        <a href="chart-table.html">Chart table view (Will's code)</a>
      </li>
      <li>
        <a href="chart-table-2.html">Chart table view (Victor's code)</a>
      </li>

      </ul>
    </div>
  </div>

{% endblock %}
