{% extends "layout.html" %}
​
{% block pageTitle %}
Job Group page
{% endblock %}
​
{% block beforeContent %} {{ super() }}
​
<div class="govuk-width-container">
  <div class="breadcrumbs govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="#">Home: Explore careers</a></li>
      <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="#">Animator</a> </li>
      <li class="govuk-breadcrumbs__list-item">Artists: data to help you make career decisions</li>
    </ol>
  </div>
</div>
{% endblock %}
​
{% block content %}
​
<style>
  * {
    box-sizing: border-box;
  }
  table.bar-chart {
    width: 100%;
    border-collapse: collapse;
  }
  table.bar-chart th,
  table.bar-chart td {
    border-width: 0;     /* No borders by default. */
  }
  /* Header */
  table.bar-chart thead th {
    font-weight: 300;
    text-align: left;
  }
  /* Set a fixed width for the category column,
    allowing the value column (containing the bars)
    to flex to fit the remaining width. */
  table.bar-chart thead .category {
    width: 150px;
  }
  table.bar-chart tbody th,
  table.bar-chart tbody td {
    vertical-align: top;
    /* Spacing between rows using a transparent border. */
    border-bottom: 6px solid transparent;
  }
  table.bar-chart tbody th {
    text-align: left;     /* Align right to associate text with the bars */
    padding: 0 10px 0 0;   /* Spacing between text and the bars. */
    font-weight: normal;
    line-height: 36px;
  }
  table.bar-chart tbody td {
    text-align: left;
    padding: 0;
  }
  /* Bar element (empty) */
  table.bar-chart tbody .bar {
    display: inline-block;
    height: 36px;
    background-color: #237E77;    /* Green */
  }
  /* Add a thin space after to avoid weird layout issues from having an
    empty element. */
  table.bar-chart .bar:after {
    content: ' ';
  }
  /* Value element (contains value as text). */
  table.bar-chart tbody .value {
    display: inline-block;
    padding-left: 5px;
    line-height: 36px;
    vertical-align: top;
    box-sizing: border-box;
  }
  /* Values close to 100% */
  table.bar-chart tbody .value.close-to-100 {
    width: 100px; margin-left: -100px;      /* position inside the bar */
    padding-left: 0; padding-right: 5px;    /* padding on the right not the left */
    text-align: right;
    color: white;
  }
  </style>
<div class="govuk-width-container">
  <div class="govuk-grid-row">
​
    <div class="sf_colsIn govuk-grid-column-two-thirds" data-sf-element="Container" data-placeholder-label="Content container">
      <div>
        <div class="sfContentBlock sf-Long-text">
          <h1 class="govuk-heading-xl">Artists: data to help you make career decisions</h1>
          <p class="govuk-body">View statistics, facts and figures about artists.            
          </p>
      
          <p class="govuk-body">This data may help you: 
          <ul class="govuk-list govuk-list--bullet">
            <li>choose a job or career path</li>
<li>gain confidence to decide your next steps</li>
<li>set goals that are realistic and suitable for you</li>
</ul>
<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    This page will not reflect sudden or unexpected changes in the working world.
  </strong>
</div>
<h2 class="govuk-heading-m govuk-!-margin-top-5">Jobs grouped as artists</h2>
<p class="govuk-body">Several similar jobs are grouped together to create this data, including: </p>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="https://staging.nationalcareers.service.gov.uk/job-profiles/animator">animator</a></li>
  <li><a href="https://staging.nationalcareers.service.gov.uk/job-profiles/fine-artist">fine artist</a></li>
    <li><a href="https://staging.nationalcareers.service.gov.uk/job-profiles/illustrator">illustrator</a></li>
        <li><a href="https://staging.nationalcareers.service.gov.uk/job-profiles/medical-illustrator">medical illustrator</a></li>
  </ul>
          <h2 class="govuk-heading-m govuk-!-margin-top-5">Predicted growth or decline</h2>
          <p class="govuk-body">These numbers tell us whether experts think job opportunities might increase or decrease. They work this out based on past data.          </p>
          <div class="dfc-app-lmi-panel panel-green">
            <div class="panel-heading">
              <div class="row">
                <div class="govuk-grid-column-one-third panel-left job-growth"></div>
                <div class="govuk-grid-column-one-third panel-right govuk-!-font-size-36">600 <span class="govuk-!-font-size-19">predicted job opportunities</span></div>
                <div class="govuk-grid-column-one-third panel-right govuk-!-font-size-36">+0.9% <span class="govuk-!-font-size-19">predicted job growth</span></div>
              </div>
            </div>
            <div class="panel-footer">
              <p class="govuk-body-m govuk-!-margin-bottom-1">Experts guess that by 2027:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>600 new artists jobs will likely become available</li>
                <li>57.9% of employees might retire</li>
              </ul>
            </div>
          </div>
          <h2 class="govuk-heading-m govuk-!-margin-top-2">Number of people employed in different areas</h2>
          <p class="govuk-body">This table shows the number of people currently employed as artists in the different areas of England. This information is a useful first step.</p>
              <p class="govuk-body"> Before you <a href="https://findajob.dwp.gov.uk/">look for a job in a certain area</a>, you should research to find out the:
              <ul class="govuk-list govuk-list--bullet">
                <li>types of artists jobs available</li>
                <li>level of jobs available, such as entry level or senior positions</li>
                <li>qualifications or skills you’ll need</li>
              </ul>
              <button id="btn1" class="govuk-button govuk-button--secondary" data-module="govuk-button" onclick="changeChart(); changeTable(); changeButton()" >Change to table and accessible view
              </button>
            <div id="barchart1" >
              <table class="bar-chart">
                <thead>
                  <tr>
                    <th width=40%"><class="category"><p class="govuk-body"><b>Area of England</b></p></th>
                    <th class="value"><p class="govuk-body"><b>Number of people currently employed</b></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th><p class="govuk-body">East Midlands</p></th>
                    <td><span class="bar" style="width:13%;"></span><span class="value"><p class="govuk-body">3,515</p></span></td>
                   </tr>
                  <tr>
                    <th><p class="govuk-body">East of England</p></th>
                    <td><span class="bar" style="width:22%;"></span><span class="value"><p class="govuk-body">6,413</p></span></td>
                  </tr>
                  <tr>
                    <th><p class="govuk-body">London</p></th>
                    <td><span class="bar" style="width:64%;"></span><span class="value"><p class="govuk-body">17,902</p></span></td>
                  </tr>
                  <tr>
                    <th><p class="govuk-body">North East</p></th>
                    <td><span class="bar" style="width:4%;"></span><span class="value"><p class="govuk-body">1,134</p></span></td>
                  </tr>
                  <tr>
                    <th><p class="govuk-body">North West</p></th>
                    <td><span class="bar" style="width:13.7%;"></span><span class="value"><p class="govuk-body">3,860 </p></span></td>
                  </tr>
                  <tr>
                    <th><p class="govuk-body">South East</p></th>
                    <td><span class="bar" style="width:38.81%;"></span><span class="value"><p class="govuk-body">10,931 </p></span></td>
                  </tr>
                  <tr>
                    <th><p class="govuk-body">South West</p></th>
                    <td><span class="bar" style="width:17%;"></span><span class="value"><p class="govuk-body">4,739 </p></span></td>
                  </tr>
                  <tr>
                    <th><p class="govuk-body">West Midlands</p></th>
                    <td><span class="bar" style="width:11%;"></span><span class="value"><p class="govuk-body">3,244 </p></span></td>
                  </tr>
                  <tr>
                    <th><p class="govuk-body">Yorkshire and the Humber</p></th>
                    <td><span class="bar" style="width:16%;"></span><span class="value"><p class="govuk-body">4,516 </p></span></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div id="table1" style="display: none;" >
              <table class="govuk-table" data-module="moj-sortable-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Area of England</th>
                    <th scope="col" class="govuk-table__header">Number of people currently employed</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">East Midlands</th>
                    <td class="govuk-table__cell">3,515</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">East of England</th>
                    <td class="govuk-table__cell">6,413</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">London</th>
                    <td class="govuk-table__cell">17,902</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">North East</th>
                    <td class="govuk-table__cell">1,134</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">North West</th>
                    <td class="govuk-table__cell">3,860</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">South East</th>
                    <td class="govuk-table__cell">10,931</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">South West</th>
                    <td class="govuk-table__cell">4,739</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">West Midlands</th>
                    <td class="govuk-table__cell">3,244</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Yorkshire and the Humber</th>
                    <td class="govuk-table__cell">4,516</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <h2 class="govuk-heading-m govuk-!-margin-top-5">Top industries</h2>
              <p class="govuk-body">This is a list of sectors or industries that currently employ the most artists. 
                </p>
                <p class="govuk-body">There could be lots of people working in an industry which you did not associate with artists. You might find more job opportunities if you <a href="https://findajob.dwp.gov.uk/">look for vacancies in the top industries</a>.</p>
              
                <button id="btn2" class="govuk-button govuk-button--secondary" data-module="govuk-button" onclick="changeChart2(); changeTable2(); changeButton2()" >Change to table and accessible view
                </button>
 			<div id= "barchart2">
              <table class="bar-chart" >
            <thead>
              <tr>
                <th width=40%"><class="category"><p class="govuk-body"><b>Industry</b></p></th>
                <th class="value"><p class="govuk-body"><b>Number of people currently employed</b></th>
              </tr>
            </thead>
            <tbody>
               <tr>
                <th><p class="govuk-body">Libraries</p></th>
                <td><span class="bar" style="width:80%;"></span><span class="value"><p class="govuk-body">26,759</p></span></td>
               </tr>
              <tr>
                <th><p class="govuk-body">Computer programming</p></th>
                <td><span class="bar" style="width:20%;"></span><span class="value"><p class="govuk-body">5,723</p></span></td>
              </tr>
              <tr>
                <th><p class="govuk-body">Arts and entertainment</p></th>
                <td><span class="bar" style="width:20%;"></span><span class="value"><p class="govuk-body">5,659</p></span></td>
              </tr>
              <tr>
                <th><p class="govuk-body">Office administration	</p></th>
                 <td><span class="bar" style="width:18%;"></span><span class="value"><p class="govuk-body">5,445</p></span></td>
              </tr>
              <tr>
                <th><p class="govuk-body">Other personal service</p></th>
                 <td><span class="bar" style="width:12%;"></span><span class="value"><p class="govuk-body">3,349</p></span></td>
              </tr>
              <tr>
                <th><p class="govuk-body">Membership organisations</p></th>
                 <td><span class="bar" style="width:11%;"></span><span class="value"><p class="govuk-body">3,214</p></span></td>
              </tr>
              <tr>
                <th><p class="govuk-body">Publishing activities</p></th>
                 <td><span class="bar" style="width:10%;"></span><span class="value"><p class="govuk-body">2,853 </p></span></td>
              </tr>
              <tr>
                <th><p class="govuk-body">Head offices</p></th>
                <td><span class="bar" style="width:9%;"></span><span class="value"><p class="govuk-body">2,712 </p></span></td>
              </tr>
              <tr>
                <th><p class="govuk-body">Advertising </p></th>
                <td><span class="bar" style="width:4%;"></span><span class="value"><p class="govuk-body">1,176</p></span></td>
              </tr>
              <tr>
                <th><p class="govuk-body">Retail trade </p></th>
                <td><span class="bar" style="width:3%;"></span><span class="value"><p class="govuk-body">1,076 </p></span></td>
              </tr>
            </tbody>
          </table>
          </div>

            <div id="table2" style="display: none;">
              <table class="govuk-table" data-module="moj-sortable-table">
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Industry</th>
                  <th scope="col" class="govuk-table__header">Number of people currently employed</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Libraries</th>
                  <td class="govuk-table__cell">26,759</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Computer programming</th>
                  <td class="govuk-table__cell">5,723</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Arts and entertainment</th>
                  <td class="govuk-table__cell">5,659</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Office administration	</th>
                  <td class="govuk-table__cell">5,445</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Other personal service</th>
                  <td class="govuk-table__cell">3,349</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Membership organisations</th>
                  <td class="govuk-table__cell">3,214</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Publishing activities</th>
                  <td class="govuk-table__cell">2,853</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Head offices</th>
                  <td class="govuk-table__cell">2,712</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Advertising</th>
                  <td class="govuk-table__cell">1,176</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Retail trade</th>
                  <td class="govuk-table__cell">1,076 </td>
                </tr>
              </tbody>
            </table>
          </div>
          <h2 class="govuk-heading-m govuk-!-margin-top-5">Next steps</h2>
          <p class="govuk-body">What you should do next depends on your current situation and goals.
            <p class="govuk-body">You may want to:
              <ul class="govuk-list govuk-list--bullet">
                <li><a href="">find training or courses</a></li>
                <li><a href="">search for jobs</a></li>
                <li><a href="">research an industry or area</a> you’re interested in working in</li>
              </ul>
              <h2 class="govuk-heading-m govuk-!-margin-top-5">Speak to an adviser</h2>
              <p class="govuk-body">Working out what these numbers mean and how they apply to your situation may not be easy.</p>
              <p class="govuk-body">Careers advisers are experienced in interpreting this data and can help you work out what’s best for you.</p>
              <p class="govuk-body">There are several different ways you can <a href="">contact an adviser</a>.</p>
        </div>
      </div>
    </div>
    <div id="MainContent_TA2BB01DC001_Col01" class="sf_colsIn govuk-grid-column-one-third" data-sf-element="Container" data-placeholder-label="Content container">
      <div>
        <div class="sfContentBlock sf-Long-text">
          <div>
           
         <div class="job-profile-sidebar">
                <h2 class="govuk-heading-m">Where this data comes from

                  <p class="govuk-body">The data on this page is known as Labour Market Information (LMI). We get this from <a href="https://www.lmiforall.org.uk/">LMI for All</a>. </p>
                  <p class="govuk-body">You can <a href="https://nationalcareers.service.gov.uk/help/information-sources">get more details about our information sources.</a></p>
       
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function changeChart() {
    var x = document.getElementById("table1");
    if (x.style.display === "block") {
      x.style.display = "none";
    } else {
      x.style.display = "block";
    }
  }
  </script>
  <script>
  function changeTable() {
    var y = document.getElementById("barchart1");
    if (y.style.display === "none") {
      y.style.display = "block";
    } else {
      y.style.display = "none";
    }
  }
  </script>
  <script>
  function changeButton() {
    var z = document.getElementById("btn1");
    if (z.innerHTML === "Change to chart view") {
      z.innerHTML = "Change to table and accessible view";
    } else {
      z.innerHTML = "Change to chart view";
    }
  }
  </script>
  <script>
  function changeChart2() {
    var a = document.getElementById("table2");
    if (a.style.display === "block") {
      a.style.display = "none";
    } else {
      a.style.display = "block";
    }
  }
  </script>
  <script>
  function changeTable2() {
    var b = document.getElementById("barchart2");
    if (b.style.display === "none") {
      b.style.display = "block";
    } else {
      b.style.display = "none";
    }
  }
  </script>
  <script>
  function changeButton2() {
    var c = document.getElementById("btn2");
   if (c.innerHTML === "Change to chart view") {
      c.innerHTML = "Change to table and accessible view";
    } else {
      c.innerHTML = "Change to chart view";
    }
  }
  </script>
  

  
{% endblock %}
